@import "tailwindcss";

*{
    box-sizing: border-box;
}


@theme{
    --color-primary: #5A67D8;
    --color-secondary: #3182CE;
    --color-accent: #F56565;
    --color-background: #EDF2F7;
    --color-text: #1A202C;
}